@use '../variables' as *;

.CreateOfferStructure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background: $background;
  .createOfferBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    background: $background-container;
    box-shadow: 0 0 2vh $shadow-color;
    border-radius: 0.2rem;
    .inputsBox {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1rem;

      label {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
        gap: 0.3rem;
        h3 {
          color: $text-color;
        }
      }

      input {
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        padding: 0.6rem 1rem;
        outline: none;
        background: #fff;
        font-size: 1rem;
        transition: all 0.3s ease;

        &:focus {
          border-color: $primary-color;
          box-shadow: 0 0 0 0.25rem rgba($primary-color, 0.2);
        }
      }
    }
  }
}