@use "sass:color";
@use '../variables' as *;

.ErrorStructure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, $background-container, color.adjust($background-container, $lightness: -10%));
  padding: 2rem;

  .ErrorBox {
    background-color: color.adjust($background-container, $lightness: 3%);
    padding: 2.5rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 0.75rem 2.875rem rgba(0, 0, 0, 0.15);
    max-width: 30rem;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 0.5rem 1.5rem $shadow-color;
    }

    .ErrorTitle {
      font-size: 1.8rem;
      color: $text-color;
      margin-top: 1rem;
    }

    .ErrorMessage {
      margin: 1.5rem 0;
      font-size: 1rem;
      color: color.adjust($text-color, $lightness: 10%);
      line-height: 1.6;
    }

    button {
      margin-top: 1rem;
    }
  }
}
