.MainStructure {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    text-align: center;
    
    h1 {
      color: #fff;
    }
  }
}