@use "../variables.scss" as *;

.MainStructure {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: $background;
  main {
    flex: 1;
    padding: 1rem 1vh;
    transition: transform 0.3s ease;
    background: $background-container;
  }
}

@media (max-width: $tablet-width) {
  main, .infoBarSection {
    padding: 1.5rem;
    max-width: 90%;
  }
}

@media (max-width: $phone-width) {
  main, .infoBarSection {
    padding: 1rem;
    gap: 1rem;
  }
}
