@use '../variables' as *;

.OffersStructure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  background: $background;
  .offerBox {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: $background-container;
    color: $text-color;
    border-radius: 1vh;
    gap: 1rem;
    width: 100%;
    max-width: 80vh;
    height: auto;
    .productBox {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: baseline;
      padding: 1vh 1vw;
      border-radius: 1vh;
      background: $background-container;
      gap: 0.5rem;
      box-shadow: 0 0 2vh $shadow-color;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translate(-0.5vh);
        box-shadow: 0 0.8vh 2rem rgba(0, 0, 0, 0.15);
      }
    }
    .buttonsBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }

  h1, p {
    font-weight: 400;
    color: $text-color;
  }
}
