.OffersStructure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .offerBox {
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    background: #303030;
    color: #fff;
    border-radius: 1vh;
    gap: 1rem;
    .productBox {
      display: flex;
      flex-direction: column;
      padding: 1vh 1vw;
      border-radius: 1vh;
      background: #404040;
      gap: 0.5rem;
    }
    .buttonsBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }
}