@use '../variables' as *;

.ProfileStructure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background: $background;
  .ContentBox {
    display: flex;
    flex-direction: row;
    padding: 1vh 1vw;
    background: $background-container;
    color: $text-color;
    border-radius: 1vh;
    gap: 1rem;
    width: 100%;
    height: 100%;
  }
}