@use '../variables.scss' as *;

.SignUpStructure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: $background-container;

  .SignUpBox {
    display: flex;
    flex-direction: column;
    background: $background-container;
    border-radius: 1rem;
    box-shadow: 0 0 2vh $shadow-color;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-0.5vh);
      box-shadow: 0 0.8vh 2rem rgba(0, 0, 0, 0.15);
    }

    .SignUpBoxStructure {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      gap: 2rem;
      height: 100%;
    }

    .SignUpSidePart {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: $primary-color;
      padding: 20vh 1vw;
      border-bottom-right-radius: 5rem;
      border-top-right-radius: 5rem;
      gap: 1rem;
    }

    .SignUpMainPart {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;
      padding: 2rem 2rem;
      background: $background-container;
      border-radius: 1rem;
      width: 100%;
      min-height: 500px;

      h1 {
        font-size: 1.8rem;
        font-weight: 900;
      }

      .SignUpInputPart {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        input,
        select {
          font-size: 1.1rem;
          padding: 0.6rem 0.8rem;
          border: 0.1vh solid rgba(255, 255, 255, 0.1);
          border-radius: 0.5rem;
          outline: none;
          background: transparent;
          color: $text-color;
          transition: border 0.3s;

          &:focus {
            border-bottom: 0.1vh solid $primary-color;
          }
        }
      }

      .SignUpButtonsPart {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
        width: 100%;
      }
    }
  }
}
