@use "../variables.scss" as *;

.SignUpStructure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: $bg-color;
  padding: 1rem;

  .SignUpBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem;
    background: $box-bg;
    border-radius: 1rem;
    box-shadow: 0 8px 20px $shadow-color;
    gap: 1.5rem;
    width: 100%;
    max-width: 400px;
    animation: fadeIn 0.5s ease-in-out;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }

    h1 {
      font-size: 1.8rem;
      color: $primary-color;
    }

    .inputsBox {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1rem;

      label {
        display: flex;
        flex-direction: column;
        font-size: 0.95rem;
        font-weight: 500;
        color: $text-color;
        gap: 0.4rem;
      }

      input, select {
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        padding: 0.6rem 1rem;
        outline: none;
        background: #fff;
        font-size: 1rem;
        transition: all 0.3s ease;

        &:focus {
          border-color: $primary-color;
          box-shadow: 0 0 0 3px rgba($primary-color, 0.2);
        }
      }
    }

    .containerButtonBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }

    .authorizationBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 0.5rem;
      color: $text-color;
      width: 100vh;
      h4 {
        font-size: 0.9rem;
        font-weight: 400;
        color: $text-color;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: $tablet-width) {
  .SignUpBox {
    padding: 1.5rem;
  }
}

@media (max-width: $phone-width) {
  .SignUpBox {
    padding: 1rem;
    gap: 1rem;
  }

  .inputsBox input {
    font-size: 0.9rem;
  }
}
