@use "../variables.scss" as *;

.SignInStructure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: $background-container;
  .SignInBox {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 1rem;
    background: $background-container;
    border-radius: 1rem;
    box-shadow: 0 0 2vh $shadow-color;
    gap: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    h1 {
      font-size: 1.8rem;
      font-weight: 900;
    }

    &:hover {
      transform: translateY(-0.5vh);
      box-shadow: 0 0.8vh 2rem rgba(0, 0, 0, 0.15);
    }
    .SignInBoxStructure {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem 1rem;
      width: 100%;
      height: 100%;
      gap: 3rem;
      .SignInMainPart {
        display: flex;
        flex-direction: column;
        justify-items: center;
        gap: 1rem;
        border-radius: 1rem;
        width: 100%;
        max-height: 100%;
        .SignInInputPart {
          display: inline-flex;
          flex-direction: column;
          gap: 1rem;
          input {
            font-size: 1.2rem;
            outline: none;
            border: none;
            &:focus {
              border-bottom: 0.1vh solid $primary-color;
              background: transparent;
              color: $text-color;
            }
          }
        }

        .SignInButtonsPart {
          display: inline-flex;
          flex-direction: column;
          padding: 1rem;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          margin-top: auto;
        }
      }
    }


    .SignInSidePart {
      display: flex;
      flex-direction: column;
      background: $primary-color;
      padding: 25vh 1vw;
      border-bottom-left-radius: 5rem;
      border-top-left-radius: 5rem;
      gap: 1rem;
    }
  }
}