.infoBarSection {
  display: flex;
  flex-direction: row;
  padding: 3.3vh 1vh;
  background: #181818;
  .mainDevelopersBox {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: #303030;
    border-radius: 0.5rem;
    gap: 1rem;
  }
}