@use "../variables.scss" as *;

.navBarSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background: $background-container;
  width: 100%;
  max-width: 100%;

  .navigationVerifyBox {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    h1 {
      color: $text-color;
      font-weight: 600;
      font-size: 1rem;
    }
  }

  .navigationLinkBox {
    display: flex;
    align-items: center;
    gap: 1rem;

    a, button {
      color: #fff;
      text-decoration: none;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background: $primary-color;
      font-weight: 500;
      transition: all 0.3s ease;
      &:hover {
        background: $primary-color-hover;
        transform: translateY(-0.125rem);
        box-shadow: 0 0.25rem 0.75rem rgba($primary-color, 0.3);
      }

      &:active {
        transform: scale(0.97);
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .navBarSection {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (max-width: $phone-width) {
  .navBarSection {
    width: 95%;
    padding: 0.8rem 1rem;
    border-radius: 1.5rem;
  }
}
