.navBarSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 3vh;
  .authorizationBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1vh;
  }
  .navigationLinkBox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1vh;
  }
}