.navBarSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1vh;
  background: #181818;
  .navigationVerifyBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    h1 {
      color: #fff;
    }
  }
  .navigationLinkBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}