@use '../../variables.scss' as *;

.AdminPanel_OffersStructure {
  display: flex;
  flex-direction: column;
  h1 {
    color: $text-color;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .TablePanel_Offers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0.5rem;
    margin: 0.5rem;
    background: $background-container;
    border-radius: 0.5rem;
    box-shadow: 0 0 2vh $shadow-color;
    .BoxTable {
      display: flex;
      flex-direction: column;
      padding: 1rem 1rem;
      background: $background-container;
      border-radius: 0.5rem;
      gap: 1rem;
      box-shadow: 0 0 2vh $shadow-color;
      .InformationBoxTable {
        display: flex;
        flex-direction: row;
        gap: 3rem;
      }
      tbody {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .InformationOffersBoxTable {
          display: flex;
          flex-direction: row;
          text-align: center;
          gap: 5rem;
        }
      }
    }
  }
}

th, td {
  color: $text-color;
}