@use "../../variables.scss" as *;

button, a {
  text-decoration: none;
  padding: 0.5vh 1vw;
  max-width: max-content;
  background: $primary-color;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 0.2rem;
  &:hover {
    background: $primary-color-hover;
  }
}