@use "../../variables" as *;

.LogoStructure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  .FirstPartLogotype {
    color: $text-color;
    font-size: 2rem;
    font-weight: $font-weight-bold;
  }

  .SecondPartLogotype {
    color: $primary-color;
    font-size: 2rem;
    font-weight: $font-weight-bold;
  }
}