@use './variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #121212;
}

body::selection {
  background: $primary-color;
}

h1 {
  color: #fff;
}