@use 'sass:color';

$phone-width: 425px;
$tablet-width: 768px;
$laptop-width: 992px;

$primary-color: #0099ff;
$secondary-color: #0099dd;
$primary-color-hover: color.adjust($primary-color, $lightness: 10%);
$bg-color: #f9f9fb;
$text-color: #333;
$button-color-text: #fff;
$box-bg: #fff;
$shadow-color: rgba(0, 0, 0, 0.08);