@use 'sass:color';

$phone-width: 26.5625em;
$tablet-width: 48em;
$laptop-width: 62em;

$primary-color: #ff0000;
$secondary-color: #0099dd;
$primary-color-hover: color.adjust($primary-color, $lightness: 10%);
$bg-color: #f9f9fb;
$text-color: #333;
$button-color-text: #fff;
$box-bg: #fff;
$shadow-color: rgba(0, 0, 0, 0.08);
$accent-color: #ff6600;